.collapse thead
{
	border-bottom: 1px solid #878787;
}

.collapse th
{
	vertical-align: text-top;
}

.collapse .name,
.collapse .type
{
	width: 200px;
}

.collapse .rarity
{
	width: 100px;
}

.collapse .amount
{
	width: 100px;
}

#index .search
{
	margin-bottom: 20px;
}

#index .search table td
{
	vertical-align: top;
	padding: 5px;
}

#index .search table td select,
#index .search table td input:not([type="submit"])
{
	width: 200px;
}

#addCard input:not([type="submit"]),
#addCard select
{
	width: 200px;
}

#addCard .selectors
{
	position: relative;
}

#addCard .selectors #createType
{
	text-decoration: none;
	font-weight: bold;
	color: #000000;
}

#addCard .selectors #createType img
{
	margin-right: 5px;
}

#addCard .typeList
{
	padding: 5px 0;
}

#addCard .typeList ul
{
	margin: -5px 0;
}

#addCard .typeList ul li
{
	position: relative;
	background-color: #ffffff;
	border: 1px solid #878787;
	margin: 5px 0;
	padding: 5px;
	border-radius: 5px;
	cursor: all-scroll;
}

#addCard .typeList ul li .removeItem
{
	position: absolute;
	top: 5px;
	right: 5px;
	text-decoration: none;
	font-weight: bold;
	color: #de1717;
}

#addCard table .headings
{
	width: 150px;
}

#addCard table .values
{
	width: 210px;
}

#addCard table td
{
	vertical-align: top;
}